{% extends 'base.html' %}
 {% load static %}
{% block content %}

 <!-- Navbar Start -->
 <div class="container-fluid position-relative p-0">
    <div class="container-fluid bg-primary py-5 bg-header bg-dark" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Chief Executive</h1>
                <a href="" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="" class="h5 text-white">Chief Executive</a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->
 <!-- About Start -->
 <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            {% for executive in chief_executive %}
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="{{ executive.cabinete_image.url }}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="fw-bold text-primary text-uppercase">{{executive.cabinete_name}}</h1>
                    <h5 class="mb-0"> {{executive.cabinate_message}} </h5>
                </div>
                    <h3 class="fw-bold text-primary text-uppercase">About </h3>
                    <p>Educational preparation: {{executive.education_preparation}} </p>
                    <p>Work Experience: {{executive.work_experience}}</p>
                       
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-phone-alt text-primary me-3"></i>{{executive.phone_number}}</h5>
                        <h5 class="mb-3"><i class="fa fa-fax text-primary me-3"></i>{{executive.fax}}</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-envelope-open text-primary me-3"></i>{{executive.pobox}}</h5>
                        <h5 class="mb-3"><i class="fa fa-envelope text-primary me-3"></i>{{executive.email}}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- About End -->


{% endblock %}
