{% extends 'base.html' %}
 {% load static %}
{% block content %}
        <!-- Navbar Start -->
        <div class="container-fluid position-relative p-0">
   
            <div class="container-fluid bg-primary py-5 bg-header bg-dark" style="margin-bottom: 90px;">
                <div class="row py-5">
                    <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-4 text-white animated zoomIn">Wereda</h1>
                        <a href="" class="h5 text-white">Home</a>
                        <i class="far fa-circle text-white px-2"></i>
                        <a href="" class="h5 text-white">Wereda</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar End -->
            <!-- woreda lists Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Lideta Sub city</h5>
                <h1 class="mb-0">Woredas</h1>
            </div>
            <div class="row g-5">
                {% for woreda in woredas %}
                <div class="col-lg-3 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div
                        class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="">
                            <i class="text-white"><img src="{{woreda.woreda_image.url}}" alt="" class="officelogo"></i>
                        </div>
                        <h5 class="m-0">{{woreda.woreda_name}}
                        </h5>
                        <a class="text-uppercase" href="{%url 'woredas'%}">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- woreda lists End -->
{% endblock %}
